APP_NAME="Backend PHP"
APP_VERSION=1.0.0
APP_ENV=local
APP_DEBUG=true
APP_TIMEZONE=Asia/Jakarta
APP_PORT=8000
APP_DOMAIN=localhost
# APP_DOMAIN=192.168.0.100
APP_URL=http://${APP_DOMAIN}:${APP_PORT}
# APP_URL=https://${APP_DOMAIN}

SERVER_NAME=${APP_DOMAIN}

APP_KEY = base64:1TwfpiRrVh2fFLP+VRJteua59MjJDggqjJoXTqf8b0E=

ALLOWED_ORIGIN=*
# ALLOWED_ORIGINS="localhost,demo.test,demo.local,demo.app.com" 

API_KEY=base64:zjwTis+UxjPt2VhvlqSQoTw1CZuaR0LC8a654X1ofVc=
HASH_KEY=base64:pHELX/GIUhr5w+k3UHe0+k2e9VgVeqOYJNKmaTRmh4Y=
# APP_ENC_ID=false

# DB_CONNECTION=sqlite
# DB_DATABASE=database.sqlite

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=backend_php
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=files
# CACHE_DRIVER=redis

SESSION_DRIVER=files
# SESSION_DRIVER=redis
SESSION_REGENERATE=300
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

MEILISEARCH_URL=http://localhost:7700
MEILISEARCH_KEY=ms

MB_CONNECTION=rabbitmq
MB_SCHEME=amqp
# MB_SCHEME=amqps
MB_HOST=127.0.0.1
MB_PORT=5672
MB_USERNAME=guest
MB_PASSWORD=guest
MB_QUEUE_NAME=backend_php-queue

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=mailpit
MAIL_SCHEME=null
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

