.env
.env.backup
*.pid
*.cache
*.zip
*.lock
*.old
*.bak
*.sample
*DS*
Caddyfile
NOTES.txt
SNIP.txt
last_run.txt
cron_log.txt
/node_modules
/vendor
/examples
/.fleet
/.idea
/.nova
/.vscode
/.zed
rector.php
*.log
# macOS Thumbnail Files
.DS_Store
**/.DS_Store
._*
**/._*
.phpactor.json
