{
    # Global options
    frankenphp {
        num_threads 12
        php_ini {
            memory_limit 512M
            max_execution_time 15
            opcache.enable 1
            opcache.enable_cli 1
            opcache.memory_consumption 256
            opcache.interned_strings_buffer 16
            opcache.jit_buffer_size 64M
            opcache.jit tracing
        }
    }
    servers {
        trusted_proxies static 0.0.0.0
    }
    auto_https off
}

http://localhost:8000 {
    # Root (Gunakan tanda bintang)
    root * ./public/

    # LOGGING (Sangat penting untuk debug)
    log

    encode zstd br gzip {
        minimum_length 1
    }

    # PRIORITAS UTAMA: API Worker
    # Menggunakan handle_path agar awalan /api otomatis terdeteksi
    handle_path /api/* {
        rewrite * /api.php
        php_server {
            worker {
                file ./public/api.php
                num 8  
                # Watch perubahan isi file
                watch ./app/**/*.php ./config/**/*.php ./views/**/*.php ./public/api.php
            }
        }
    }

    # PRIORITAS KEDUA: Web/HTMX (index.php)
    handle {
        # Cek apakah file fisik ada (css, js, images)
        # Jika tidak ada, arahkan ke index.php
        try_files {path} /index.php
        
        php_server {
            # Opsional: Jika index.php juga ingin jadi worker
            # worker {
            #    file ./public/index.php
            #    num 3
            #    watch ./app/**/*.php ./views/**/*.php ./public/index.php
            # }
        }
    }

    # CORS Headers
    header {
        Access-Control-Allow-Origin "localhost,demo.test,demo.local,demo.app.com,192.168.0.100,[::1],127.0.0.1"
        Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
        Access-Control-Allow-Headers "Content-Type, X-Api-Key, HX-Request, HX-Trigger, HX-Target, HX-Current-URL"
        Access-Control-Allow-Credentials "true"
        Vary Origin
    }

    @options {
        method OPTIONS
    }
    respond @options 204
}